<h1>Angular Router App</h1>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/products-list" routerLinkActive="active">Products List</a></li>
    <li><a routerLink="/service" routerLinkActive="active">Http</a></li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<!-- <app-login></app-login> -->
